.about-me {
    background-color: #121212;
    color: #e0e0e0;
    padding: 60px 20px;
    text-align: center;
    border-top: 2px solid #003300;
    margin-top: 40px;
    height: 30vh;
  }
  
  .about-me h2 {
    font-size: 36px;
    color: #4caf50;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #4caf50;
  }
  
  .about-me p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    text-shadow: 0 0 5px #e0e0e0;
  }
  